#box {
  width: auto;
  height: 100%;
}

.nav_header {
  height: 36px;
}

.nav_header .all_categories {
  background: #333;
  float: left;
  position: relative;
  width: 190px;
  height: 36px;
  font-size: 12px;
  z-index: 500;
}

.nav_header .all_categories .icon {
  width: 16px;
  height: 20px;
  margin-top: 7px;
  float: left;
  margin-left: 16px;
  margin-right: 17px;
}

.nav_header .all_categories .icon .rim {
  display: block;
  width: 100%;
  height: 25%;
  border-bottom: 1px solid #fff;
}

.nav_header .all_categories .span_all {
  color: #fff;
  font-size: 16px;
  line-height: 36px;
  text-align: center;
  display: inline-block;
}

.nav_header .all_categories .all_categories_item {
  position: absolute;
  left: 0;
  top: 36px;
  z-index: 1200;
}

.nav_header .all_categories .all_categories_item .all_categories_ul {
  position: relative;
  height: 420px;
  z-index: 100;
  clear: both;
}

.nav_header .all_categories .all_categories_item .all_categories_ul li {
  width: 162px;
  height: 29.5px;
  padding: 11px 14px;
  position: relative;
  background-color: #fa3778;
  border-bottom: 1px dotted #fe7dab;
}

.nav_header .all_categories .all_categories_item .all_categories_ul li .all_aitem {
  font-size: 16px;
  color: #fff;
  height: 30px;
  line-height: 30px;
  float: left;
  margin-left: 35px;
  overflow: hidden;
}

.nav_header .all_categories .all_categories_item .all_categories_ul li i {
  width: 20px;
  height: 30px;
  font-size: 16px;
  color: #fff;
  float: right;
  line-height: 30px;
  text-align: center;
}

.nav_header .all_categories .all_categories_item .all_categories_ul li a {
  color: #333;
}

.nav_header .all_categories .all_categories_item .all_categories_ul li .all_outbox {
  width: 340px;
  border: 1px solid #fa3778;
  background: #fff;
  position: absolute;
  top: -1px;
  left: 190px;
  padding: 10px 25px;
  box-sizing: border-box;
  display: none;
}

.nav_header .all_categories .all_categories_item .all_categories_ul li .all_outbox .all_long {
  display: inline-block;
  width: 1px;
  height: 52px;
  background: #fff;
  position: absolute;
  left: -1px;
  top: 0;
  z-index: 50;
}

.nav_header .all_categories .all_categories_item .all_categories_ul li .all_outbox .all_outbox_item {
  width: 100%;
  padding-bottom: 13px;
}

.nav_header .all_categories .all_categories_item .all_categories_ul li .all_outbox .all_outbox_item .outbox_num {
  width: 100%;
  margin-bottom: 10px;
}

.nav_header .all_categories .all_categories_item .all_categories_ul li .all_outbox .all_outbox_item .outbox_num h2 {
  width: calc(100% - 5px);
  margin-left: 5px;
  height: 35px;
  line-height: 35px;
  font-size: 14px;
  font-weight: bold;
}

.nav_header .all_categories .all_categories_item .all_categories_ul li .all_outbox .all_outbox_item .outbox_num .outbox_item_list {
  width: 100%;
  overflow: hidden;
}

.nav_header .all_categories .all_categories_item .all_categories_ul li .all_outbox .all_outbox_item .outbox_num .outbox_item_list a {
  display: inline-block;
  padding: 0px 5px;
  text-align: center;
  color: #999;
  font-size: 12px;
  line-height: 24px;
}

.nav_header .all_categories .all_categories_item .all_categories_ul li:last-child {
  border-bottom: 1px solid #fa3778;
}

.nav_header .all_categories .all_categories_item .all_categories_ul li::after {
  content: '';
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  top: 16px;
  left: 14px;
  background-image: url(../images/pc_categorym-01.png);
}

.nav_header .all_categories .all_categories_item .all_categories_ul li:nth-child(1)::after {
  background-position: center -10px;
}

.nav_header .all_categories .all_categories_item .all_categories_ul li:nth-child(2)::after {
  background-position: center -43px;
}

.nav_header .all_categories .all_categories_item .all_categories_ul li:nth-child(3)::after {
  background-position: center -77px;
}

.nav_header .all_categories .all_categories_item .all_categories_ul li:nth-child(4)::after {
  background-position: center -110px;
}

.nav_header .all_categories .all_categories_item .all_categories_ul li:nth-child(5)::after {
  background-position: center -143px;
}

.nav_header .all_categories .all_categories_item .all_categories_ul li:nth-child(6)::after {
  background-position: center -178px;
}

.nav_header .all_categories .all_categories_item .all_categories_ul li:nth-child(7)::after {
  background-position: center -210px;
}

.nav_header .all_categories .all_categories_item .all_categories_ul li:nth-child(8)::after {
  background-position: center -243px;
}

.nav_header .all_categories .all_categories_item .all_categories_ul li:hover {
  background: #fff;
}

.nav_header .all_categories .all_categories_item .all_categories_ul li:hover .arrows {
  color: #666;
}

.nav_header .all_categories .all_categories_item .all_categories_ul li:hover .all_outbox {
  display: block;
}

.nav_header .all_categories .all_categories_item .all_categories_ul li:hover:after {
  background-image: url(../images/pc_categorym-02.png);
}

.nav_header .all_categories .all_categories_item .all_categories_ul li:hover a {
  color: #333;
}

.nav_header .nav_a {
  height: 36px;
  margin-left: 20px;
  float: left;
}

.nav_header .nav_a ul {
  line-height: 36px;
}

.nav_header .nav_a ul li {
  float: left;
  overflow: hidden;
  padding: 0 7px;
  text-align: center;
  font-size: 16px;
}

.nav_header .nav_a ul li a {
  display: block;
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.nav_header .nav_a ul li a:hover {
  color: #ec3e7d;
}

.nav_header .nav_a ul .slash {
  width: 20px;
}

.nav_header .nav_a ul .slash span {
  color: #eee;
}
